body {
    margin: 0;
    padding: 0;
    background: beige;
}

.contenedor {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: wrap;
}

.contenedorEncuesta {
    margin: 0 auto;
    flex-flow: column;
    width: 100%;
    margin: -32px auto;
}

.preguntas {
    color: rgb(42, 40, 40);
    margin-top: 30px;
}

button a:hover {
    text-decoration: none;
    color: wheat;
}

.jumbotron {
    background-image: url(/img/encuesta.jpg);
    background-size: cover;
    min-width: 100%;
    min-height: 500px;
}

.display-4 {
    color: rgb(42, 40, 40);
}

.frase {
    min-height: 50px;
    background: rgb(245, 245, 245, .5);
}

button a {
    color: whitesmoke;
}

button {
    width: 80px;
}

@font-face {
    font-family: "HarryP";
    src: url(/font/HARRYP__.TTF);
}

#titulo {
    font-family: "HarryP";
    font-size: 6rem;
}

#botonSilencio {
    width: 40px;
    height: 40px;
}

#botonPlay {
    width: 40px;
    height: 40px;
}