* {
    cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;
}

body {
    background: black;
}

.body {
    padding: 0;
    margin: 0;
}

.imagenCabecera {
    width: 100vw;
    height: auto;
}

.mapaHogwarts {
    width: 100%;
}

#bridge {
    display: block;
    margin: 0 auto;
    background-image: url('/img/bridgeBglong.png');
    background-image: -webkit-image-set(url('/img/bridgeBglong.png') 1x, url('/img/bridgeBg.png') 2x);
    background-size: cover;
    width: 100%;
    max-width: 750px;
    height: auto;
    cursor: crosshair;
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#bridgeContainer {
    text-align: center;
    font-family: Avenir, sans-serif;
}

#bridgeContainer figcaption {
    margin-top: 2rem;
}

#bridge img {
    width: 100%;
}

#bridgeContainer {
    text-align: center;
    font-family: Avenir, sans-serif;
}

#bridgeContainer figcaption {
    margin-top: 2rem;
}

.e-commerce {
    width: 288px;
    height: 310px;
}


/*NavBar*/

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 130px;
}

.icono {
    width: 25px;
    margin: 15px;
    background-color: transparent;
    border: none;
}

.nav-link {
    color: lightgray;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
}

li a {
    color: white;
}

.navbar-nav li:hover {
    transform: translateY(10px);
    color: lightgrey;
}

form img {
    color: lightgrey;
}

input {
    background: transparent;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
}

input ::placeholder {
    color: whitesmoke;
}

.navbar-toggler {
    margin-right: 20px;
    border-color: lightgray;
    color: lightgray;
}

@media (max-width: 998px) {
    input {
        display: none;
    }
    form .lupa {
        margin-top: 22px;
    }
    .contIconos {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 769px) {
    .contIconos {
        display: flex;
        flex-direction: row;
    }
    form {
        margin-top: 7px;
    }
}


/* modal*/

@font-face {
    font-family: HARRYP;
    src: url(/font/HARRYP__.TTF);
}

.modal {
    position: absolute;
    top: 40%;
}

h3 {
    font-family: HARRYP;
    font-size: 40px;
    text-align: center;
}

.modal-header {
    background-color: goldenrod;
}

.modal-body {
    text-align: center;
}

.modal-footer a:hover {
    background-color: goldenrod;
}