    * {
        cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;
    }
    
    .body {
        padding: 0;
        margin: 0;
    }
    
    #home {
        background: none;
        height: 100%;
    }
    
    #home-bg-video {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%;
        min-height: 100%;
        object-fit: fill;
        height: 100%;
        z-index: -1;
    }
    
    @media (min-aspect-ratio: 16/9) {
        #videoFondo {
            width: 100%;
            height: auto;
        }
    }
    
    @media (max-aspect-ratio: 16/9) {
        #videoFondo {
            width: auto;
            height: 100%;
        }
    }
    
    .sombrero {
        width: 280px;
        animation-duration: 5s;
        animation-delay: 3s;
        animation-iteration-count: infinite;
        animation: float 3s ease-in-out infinite;
        position: absolute;
        left: calc(50% - 140px);
        top: calc(50% - 20px);
    }
    
    @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-20px);
        }
        100% {
            transform: translatey(0px);
        }
    }
    
    #botonSilencio {
        width: 40px;
        height: 40px;
    }
    
    #botonPlay {
        width: 40px;
        height: 40px;
    }