body {
    background-color: black;
}

#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}

#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}


/*NavBar*/

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 130px;
  }
  
  .icono {
    width: 25px;
    margin: 15px;
    background-color: transparent;
    border: none;
  }
  
  .nav-link {
    color: lightgray;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
  }
  
  li a {
    color: white;
  }
  
  .navbar-nav li:hover {
    transform: translateY(10px);
    color: lightgrey;
  }
  
  form img {
    color: lightgrey;
  }
  
  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
  }
  
  input ::placeholder {
    color: whitesmoke;
  }
  
  .navbar-toggler {
    margin-right: 20px;
    border-color: lightgray;
    color: lightgray;
  }
  
  @media (max-width: 998px) {
    input {
      display: none;
    }
    form .lupa {
      margin-top: 22px;
    }
    .contIconos {
      display: flex;
      justify-content: center;
    }
  }
  
  @media (min-width: 769px) {
    .contIconos {
      display: flex;
      flex-direction: row;
    }
  }
  