* {
    cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;
}

body {
    background: black;
}

.body {
    padding: 0;
    margin: 0;
}

.imagenCabecera {
    width: 100vw;
    height: auto;
}

.icono {
  width: 30px;
  margin: 0 10px;
}


.mapaHogwarts {
    width: 100%;
}

#bridge {
    display: block;
    margin: 0 auto;
    background-image: url(/casaSlytherin/img/members.jpg);
    background-image: -webkit-image-set(url('/casaSlytherin/img/members.jpg') 1x, url('/casaSlytherin/img/members.jpg') 2x);
    background-size: cover;
    width: 100%;
    max-width: 750px;
    height: auto;
    cursor: crosshair;
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#bridgeContainer {
    text-align: center;
    font-family: Avenir, sans-serif;
}

#bridgeContainer figcaption {
    margin-top: 2rem;
}


/*perfiles profesores*/

.logo {
    width: 80%;
    border-radius: 100%;
}

.tarjetas {
    border-radius: 5%;
}


/* esto es de las citas de texto*/

blockquote {
    font-size: 3rem;
}

cite {
    display: block;
    text-align: right;
    font-family: Verdana, Arial, sans-serif;
    margin-top: 1rem;
    font-size: .9rem;
    color: lightgray;
    font-style: normal;
}

blockquote q {
    font-family: Georgia, serif;
    font-style: italic;
    letter-spacing: .1rem;
}

blockquote q span {
    will-change: opacity, filter;
    opacity: 0;
    filter: blur(0px);
}

q {
    quotes: "“" "”" "‘" "’";
}

q:before {
    content: open-quote;
    margin-right: .8rem;
}

q:after {
    content: close-quote;
}

q:before,
q:after {
    color: #ccc;
    font-size: 4rem;
}


/*estilo video fondo*/

#bg-video-casa {}