* {
  cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;
}

body {
  background: black;
}

.body {
  padding: 0;
  margin: 0;
}

header {
  background-size: cover;
  min-height: 100vh;
  background: url(/video/bgVideo.mp4);
}

.bosqueOculto {
  background: url(/img/bosqueProhibido.jpg);
  background-size: cover;
  min-height: 100vh;
}

.imagenCabecera {
  width: 100vw;
  height: auto;
}

/*NavBar*/

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 130px;
}

.icono {
  width: 25px;
  margin: 15px;
  background-color: transparent;
  border: none;
}

.nav-link {
  color: lightgray;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
}

li a {
  color: white;
}

.navbar-nav li:hover {
  transform: translateY(10px);
  color: lightgrey;
}

form img {
  color: lightgrey;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 14px;
  font-family: sans-serif;
  color: white;
}

input ::placeholder {
  color: whitesmoke;
}

.navbar-toggler {
  margin-right: 20px;
  border-color: lightgray;
  color: lightgray;
}

@media (max-width: 998px) {
  input {
    display: none;
  }

  form .lupa {
    margin-top: 22px;
  }

  .contIconos {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 769px) {
  .contIconos {
    display: flex;
    flex-direction: row;
  }

  form {
    margin-top: 7px;
  }
}

/*estilo video fondo*/
#bg-video-casa {
  background-size: cover;
  min-height: 100vh;
  z-index: -1;
}

/*--agenda--*/

.agenda {
  background: #007b5e;
}

ul .card-text {
  color: whitesmoke;
}
.card-header {
  color: whitesmoke;
}

/*estilo de letra*/

@font-face {
  font-family: harryP;
  src: url(/font/HARRYP__.TTF);
}

/*--Mapa--*/

.mapaHogwarts {
  width: 100%;
}

#bridge {
  display: block;
  margin: 0 auto;
  background-image: url(/casaSlytherin/img/members.jpg);
  background-image: -webkit-image-set(
    url("/casaSlytherin/img/members.jpg") 1x,
    url("/casaSlytherin/img/members.jpg") 2x
  );
  background-size: cover;
  width: 100%;
  max-width: 750px;
  height: auto;
  cursor: crosshair;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png)
      53 53,
    crosshair;
}

#bridgeContainer {
  text-align: center;
  font-family: Avenir, sans-serif;
}

#bridgeContainer figcaption {
  margin-top: 2rem;
}

/*perfiles profesores*/

.logo {
  width: 80%;
  border-radius: 100%;
}

.tarjetas {
  border-radius: 5%;
  background-color: #f9f7f1;
}

/* esto es de las citas de texto*/

blockquote {
  font-size: 3rem;
}

cite {
  display: block;
  text-align: right;
  font-family: Verdana, Arial, sans-serif;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: lightgray;
  font-style: normal;
}

blockquote q {
  font-family: Georgia, serif;
  font-style: italic;
  letter-spacing: 0.1rem;
}

blockquote q span {
  will-change: opacity, filter;
  opacity: 0;
  filter: blur(0px);
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before {
  content: open-quote;
  margin-right: 0.8rem;
}

q:after {
  content: close-quote;
}

q:before,
q:after {
  color: #ccc;
  font-size: 4rem;
}

/*--Noticia--*/

.rita {
  width: 300px;
  padding: 1.25rem;
  float: left;
  height: 360px;
}
.textorita {
  float: none;

  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  text-align: justify;
}

.parsel {
  text-align: center;
}

.imagencentrada {
  float: none;
  padding: 20px;
  background-color: #f9f7f1;
}
.tituloprof {
  font-size: large;
  font-weight: bold;
  padding-top: 10px;
}

.mapaHogwarts {
  position: relative;
}

.simbolo {
  position: absolute;
  top: 80px;
  right: 0;
}

#deathlyHallow {
  width: 70px;
  height: 70px;
}

#gato {
  width: 50%;
}

@font-face {
  font-family: HarryP;
  src: url(/font/HARRYP__.TTF);
}

#gatoh1 {
  font-family: HarryP;
  color: #c2a138;
}

#titulosCasas {
  font-family: HarryP;
  color: #c2a138;
}

#bosqueProhibidoTitulo {
  font-family: HarryP;
  color: #c2a138;
  text-align: center;
}
